# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Django
*.log
*.sqlite3
db.sqlite3

# Static files
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
