<<<<<<< HEAD
<<<<<<< HEAD
.contact_section {
    position: relative;
    background-color: #afaeaf;
    color: #000000;
  }
  
  .contact_section .heading_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .contact_section .heading_container h2::before {
    text-align: left;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  
  .contact_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_section .img-box img {
    width: 100%;
  }
  
  .contact_section .form_container {
    padding: 45px 0 45px 15px;
  }
  
  .contact_section input {
    width: 100%;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    margin-top: 25px;
    padding: 12px;
  }
  
  .contact_section input::-webkit-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input:-ms-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input::-ms-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input::placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input.message-box {
    padding: 45px 12px;
  }
  
  .contact_section button {
    padding: 10px 65px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #ff2953;
    margin: 45px 0 0 auto;
    text-transform: uppercase;
  }
  
  .info_section {
    background-color: #252233;
  }
  
  .info_items {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .info_items .item {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .info_items .item .img-box {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .info_items .item .detail-box {
    margin-top: 5px;
    color: #fff;
  }
  
  .info_items {
    position: relative;
  }
  
  .info_items a {
    position: relative;
  }
  
=======

.contact_section {
=======
>>>>>>> Wut
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #dfd5d5; /* พื้นหลังสีเทาอ่อน */
}

.form_container {
    background-color: white;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
<<<<<<< HEAD
}
>>>>>>> Wut
>>>>>>> Wut
