/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ensure the container takes up the full viewport height */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 15px;
}

/* Styling for the login form */
.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff2953; /* Match the color theme */
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

.login-form h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 55px;
    height: 5px;
    background-color: #ff2953; /* Match the color theme */
    transform: translateX(-50%);
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    background-color: #ff2953; /* Match the color theme */
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
}

.login-form button:hover {
    background-color: #e02440; /* Slightly darker shade for hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .login-form {
        padding: 20px;
    }

    .login-form h2 {
        font-size: 20px;
    }

    .login-form input, .login-form button {
        padding: 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 15px;
    }

    .login-form h2 {
        font-size: 18px;
    }

    .login-form input, .login-form button {
        padding: 8px;
        font-size: 14px;
    }
}
