
 {% load static %}
 <!DOCTYPE html>
 <html lang="th">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Computer Science</title>
  
    <!-- slider stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
  
    <link href="{% static 'css/homes.css' %}" rel="stylesheet">
  
  
    <link href="{% static 'css/videos.css' %}" rel="stylesheet">

    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
   
  </head>
  
  <body>
  
    <!-- Header section -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: gray;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/output.png' %}" alt="Logo" style="width: 40px; height: 40px; margin-left: 5px; margin-right: 5px;" onclick="playVideo()">
            <span class="highlight" style="color: white;">COMPUTER</span>
            <span id="dynamic-text" class="highlight" style="color: black; margin-left: 5px;">SCIENCE</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" style="color: white;">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'why' %}" style="color: white;">กิจกรรม</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'trainer' %}" style="color: white;">Admins</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="color: white;">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'info' %}" style="color: white;">ข่าวสาร</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'sign_in' %}" style="color: white;">Login</a></li>

            </ul>
          </div>
        </div>
      </nav>
    </header>


  <!-- contact section -->

  <section class="contact_section ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="images/contact-img.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="">
              <div>
                <input type="text" placeholder="Name" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="d-flex ">
                <button>
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->



  <!-- footer section -->
  <footer>
    <p>&copy; 2024 Computer Science. All Rights Reserved.</p>
  </footer>
  

  <!-- footer section -->
  <script src="{% static 'js/text-move.js' %}"></script>
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>

 
</body>

</html>
