{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Computer Science</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> 

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <link href="{% static 'css/homes.css' %}" rel="stylesheet">


  <link href="{% static 'css/videos.css' %}" rel="stylesheet">


  <link href="{% static 'css/activity.css' %}" rel="stylesheet">
 
</head>

<body>

  <!-- Header section -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: gray;">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'images/output.png' %}" alt="Logo" style="width: 40px; height: 40px; margin-left: 5px; margin-right: 5px;" onclick="playVideo()">
          <span class="highlight" style="color: white;">COMPUTER</span>
          <span id="dynamic-text" class="highlight" style="color: black; margin-left: 5px;">SCIENCE</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" style="color: white;">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'why' %}" style="color: white;">กิจกรรม</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'trainer' %}" style="color: white;">Admins</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" style="color: white;">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'info' %}" style="color: white;">ข่าวสาร</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'sign_in' %}" style="color: white;">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<!-- Activities section -->
<section class="activities_section layout_padding">
  <h2>ข่าวสาร</h2>
  <div class="container">
    <div class="row">
      
      <!-- Activity 1 -->
      <div class="col-md-4">
        <div class="activity_box">
          <img src="{% static 'images/สานสัมพันธ์.jpg' %}" alt="Activity 1" class="img-fluid">
          
          <h4> สานสัมพันธ์พี่น้อง </h4>
          <p class="activity_desc">โครงการสานสัมพันธ์พี่น้อง สาขาวิทยาการคอมพิวเตอร์ คณะศิลปศาสตร์และวิทยาศาสตร์ มหาวิทยาลัยราชภัฏศรีสะเกษ วันที่ 13 ก.ค. 2567</p>
        </div>
      </div>
      <!-- Activity 2 -->
      <div class="col-md-4">
        <div class="activity_box">
          <img src="{% static 'images/ข่าวสาร.jpg' %}" alt="Activity 2" class="img-fluid">
          <h4> ระบบสำหรับสั่งจองฉลองเมือศรีสะเกษ​ 242 ปี </h4>
          <p class="activity_desc">น้อง ๆ คนไหนขื่นชอบเทคโนโลยี และการพัฒนาโปรแกรม สมัครเรียนต่อกับสาขาได้ที่: https://comsci-sskru.web.app/
            ..
            ระบบสำหรับสั่งจองฉลองเมือศรีสะเกษ​ 242 ปี พัฒนาโดย ผู้ช่วยศาสตราจารย์พิศาล สุขขี และนักศึกษาชั้นปีที่ 3 ของ #สาขาวิชาวิทยาการคอมพิวเตอร์
            ..
            อีกหนึ่งผลงานการพัฒนาโปรแกรมที่สาขาวิชาของเราได้มีโอกาสทำเพื่อรับใช้สังคมของจังหวัดศรีะเกษ</p>
        </div>
      </div>
      <!-- Activity 3 -->
      <div class="col-md-4">
        <div class="activity_box">
          <img src="{% static 'images/การประชุม.jpg' %}" alt="Activity 3" class="img-fluid">
          <h4> เสริมสร้างศักยภาพการนำเสนอโครงการด้วยทักษะ Project Pitching และ AI Project Plan Generator เพื่อขับเคลื่อนงานส่งเสริมการเกษตร </h4>
          <p class="activity_desc">ผู้ช่วยศาสตราจารย์พิศาล สุขขี อาจารย์ประจำ #สาขาวิชาวิทยาการคอมพิวเตอร์ ได้รับเชิญให้เป็นวิทยากรในโครงการอบรมเชิงปฏิบัติการเพื่อการเสริมสร้างศักยภาพการนำเสนอโครงการด้วย AI และ Project Pitching
            ..
            สำนักงานเกษตรจังหวัดศรีสะเกษจัดอบรมหลักสูตร "เสริมสร้างศักยภาพการนำเสนอโครงการด้วยทักษะ Project Pitching และ AI Project Plan Generator เพื่อขับเคลื่อนงานส่งเสริมการเกษตร" ในวันที่ 4 กันยายน 2567 โดยมีนายวิชัย ศรีโพธิ์งาม เกษตรจังหวัดศรีสะเกษ เป็นประธาน มีผู้เข้าร่วม 54 คน ประกอบด้วยเจ้าหน้าที่ระดับต่างๆ ของสำนักงานเกษตรจังหวัด วัตถุประสงค์เพื่อเพิ่มพูนความรู้และทักษะในการจัดทำและนำเสนอโครงการ รวมถึงเพิ่มประสิทธิภาพการปฏิบัติงานด้านการส่งเสริมการเกษตร
            ..
            การอบรมแบ่งเป็น 2 ช่วง ภาคเช้าเป็นการบรรยายโดย ผู้ช่วยศาสตราจารย์พิศาล สุขขี จากมหาวิทยาลัยราชภัฎศรีสะเกษ ส่วนภาคบ่ายเป็นการฝึกปฏิบัติ การนำเทคโนโลยี AI มาใช้ในงานส่งเสริมการเกษตรมีความสำคัญ เพราะช่วยให้เจ้าหน้าที่สามารถวิเคราะห์ข้อมูลและจัดทำแผนพัฒนาการเกษตรที่มีคุณภาพ สอดคล้องกับยุทธศาสตร์ชาติ ขณะที่ทักษะ Project Pitching จะช่วยให้นำเสนอแนวคิดหรือโครงการต่อผู้บริหารและองค์กรต่างๆ ได้อย่างมีประสิทธิภาพยิ่งขึ้น</p>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- footer section -->
  <footer>
    <p>&copy; 2024 Computer Science. All Rights Reserved.</p>
  </footer>
  

  <!-- footer section -->

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/text-move.js' %}"></script>
  <!-- Custom script for typewriter effect -->

</body>

</html>
